@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

/* Light mode: A light cream or off-white background with navy and soft orange elements.
Dark mode: A deep navy or charcoal background with soft orange for accents and text. */

/* Root normal colors */
:root {
  --background: #ffffff;
  --foreground: #1e1e1e;
}

/* Dark mode colors */
.dark {
  --background: #1e1e1e;
  --foreground: #ffffff;
}

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-lato: "Lato", sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  h1 {
    @apply text-foreground text-3xl sm:text-5xl md:text-5xl;
  }
  h2 {
    @apply text-foreground text-lg sm:text-2xl md:text-3xl;
  }
  h3 {
    @apply text-foreground;
  }
  p {
    @apply text-foreground;
  }
}

/* Custom utilities */
@utility flex-center {
  @apply flex justify-center items-center;
}

@utility light-custom-shadow {
  box-shadow: 2px 5px 10px #16171b4f;
}

@utility dark-custom-shadow {
  box-shadow: 1px 1px 10px #fff;
}

@utility light-custom-shadow-hover {
  box-shadow: 2px 5px 20px #16171b4f;
}

@utility dark-custom-shadow-hover {
  box-shadow: 1px 1px 15px #fff;
}

@utility margin-top {
  @apply pt-28;
}

@utility custom-cursor {
  cursor: url("/koala.svg"), auto;
}

@utility custom-buttons {
  @apply ring-1 ring-slate-900/40 hover:sm:scale-105 hover:scale-102 light-custom-shadow hover:light-custom-shadow-hover transition-all;
}

@utility page-layout {
  @apply pt-10
}

/* Components */
@layer components {
  .social-button {
    @apply w-full sm:w-36 md:w-40 bg-slate-50 cursor-pointer custom-buttons;
  }

  .nav-bar {
    @apply bg-foreground fixed top-1 left-1 right-1 md:left-10 md:right-10 flex items-center justify-between pr-5 rounded-xl h-11 light-custom-shadow z-[100] transition-all duration-400 ease-in-out;

    /* When the nav bar needs to be hidden */
    &.hide {
      @apply -translate-y-[200%] opacity-0 pointer-events-none;
    }

    /* When the nav bar needs to be shown */
    &.show {
      @apply translate-y-0 opacity-100;
    }

    /* Links to pages */
    & .links {
      @apply space-x-3 sm:space-x-6 ml-6;
    }

    /* Style for Link tags inside nav-bar */
    & a {
      @apply text-background text-[16px] sm:text-lg font-lato;
    }

    & .theme-switch {
      @apply ring-1 relative w-14 h-6 rounded-full transition-colors duration-300 cursor-pointer light-custom-shadow;
    }
  }

  .card-style {
    @apply m-8 rounded-lg ring-1 ring-slate-900/8 dark:ring-slate-100/15 p-6 shadow-xl shadow-slate-900/10 dark:shadow-slate-100/10 flex flex-col pb-10;

    & .icon-card {
      @apply flex-center w-12 h-12 items-center text-3xl rounded-full custom-buttons dark:dark-custom-shadow dark:hover:dark-custom-shadow-hover;
    }

    & .title {
      @apply text-center font-inter text-4xl mb-10 mt-6;
    }
  }
}

html,
body {
  /* height: 100vh; */
  background-color: var(--background);
  font-family: var(--font-roboto);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
